.content {
  background: #642B73;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #C6426E, #642B73);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #C6426E, #642B73); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  

  text-decoration: none;
  height: 100%;
  min-height: 100vh;
  position: relative;
  margin-left: 20%;
}

a {
  text-decoration: none;
  color: inherit;
}
